body {
  background-color: #fafaee;
}

h1 {
  padding-top: 1rem;
}

.navbar {
  background-color: #1d3557;
}

.navbar > .navbar-brand {
  padding-top: 0;
  margin-right: 0;
}

.container {
  margin-top: 3rem;
}

#predictions, #exploration {
  padding-top: 3.5rem;
}

.state-select {
  max-width: 15rem;
}

.dropdown-menu {
  max-height: 15rem;
  overflow-y: auto;
}