{% extends 'base.html' %}

{% block content %}
  <h3>COVID Vaccination Data Exploration</h3>
  <p class="font-italic">This is a brief description of our project...</p>
  <section>
    <h1>Predictions</h1>
    <p>Selected State: {{ state }}</p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">State</label>
      </div>
      <select class="custom-select state-select">
        {% for state_name in states.keys() %}
          <option>{{ state_name }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- TODO create prediction graph (like https://plotly.com/javascript/continuous-error-bars/) -->
    <div id="prediction_dataviz"></div>
    <script>
      // convert the data from json to a JS object
      var dailyCases = {{ daily_cases|tojson }};
      
      // create the visualizations
      render_prediction_visualization(dailyCases)
    </script>
  </section>
  <section>
    <h1>Data Exploration</h1>
    <!-- TODO: make exploration graphs-->
    <!-- Potential exploration graph type https://plotly.com/javascript/splom/ -->
    <!-- Basic scatterplot https://plotly.com/javascript/line-and-scatter/-->
  </section>
{% endblock %}